<div class="about-container">
  <div class="card-section">
    <div class="info-card">
      <div class="card-header">
        <mat-icon color="primary" class="card-icon">important_devices</mat-icon>
        <h1>O aplikaciji</h1>
      </div>
      <p>Ova web aplikacija omogućava korisnicima jednostavan pregled turističkih agencija, hotela, destinacija i dostupnih aranžmana. Cilj aplikacije je da olakša pronalazak idealnog putovanja.</p>
    </div>

    <div class="info-card">
      <div class="card-header">
        <mat-icon color="primary" class="card-icon">business</mat-icon>
        <h3>Turistička ponuda</h3>
      </div>
      <p>Korisnicima su dostupne informacije o turističkim agencijama, hotelima i destinacijama koje mogu pomoći pri izboru narednog putovanja. Aplikacija pruža pregled ponude na jednom mestu.</p>
    </div>
  </div>
</div>